{% extends "main/base.html" %}

{% block title %}
Home page.
{% endblock %}


{% block content %}

<p>
<b>'{{todolist}}' items:</b> <br>

<form method="post" action="#">
      {% csrf_token %}

<table>
  <tr>
    <th>Is completed?</th>
    <th>Item content</th>
  </tr>
  {% for item in todolist_items %}

  {% if item.complete == True %}
  <tr>
    <td><input type="checkbox" value="clicked" name="c{{item.id}}" checked></input></td>
    <td>{{item}}</td>
  </tr>
  {% else %}
  <tr>
    <td><input type="checkbox" value="clicked" name="c{{item.id}}"></input></td>
    <td>{{item}}</td>
  </tr>
  {% endif %}
{% endfor %}</p>
</table>

</br>

<button type="submit" name="save" value="save">Save</button>
<input type="text" name="newItem"></input>
<button type="submit" name="addItem" value="addItem">Add item</button>
</form>

{% endblock %}
